@import url('https://fonts.googleapis.com/css?family=Anton|Roboto+Mono:400,700|Questrial');

body {
  font-family: "Questrial", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14pt;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Anton", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.navbar {
    font-family: "Anton", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

code, kbd, pre, samp {
    font-family: "Roboto Mono", monospace;
}

code {
    font-size: 70%;
}

h4 small {
    display: block;
    font-size: 60%;
    color: #888;
}

.navbar-brand {
    font-size: 20pt;
    text-transform: uppercase;
}

footer.container {
    margin-top: 30px;
    padding: 30px 15px;
    border-top: 1px dashed #aaa;
}

@media (min-width: 768px) {
  .container {
      width: 700px;
  }
  .navbar-nav {
      float: right;
  }
}
@media (max-width: 779px) {
    body {
        padding-top: 45px;
    }
}
@media (min-width: 780px) {
    body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        padding-bottom: 40px;
    }
}
